@page
@model Hospital_del_Valle.Pages.Citas.CitasLabo.CreateModel

@{
    ViewData["Title"] = "Create";
}

<link href="~/css/citas/Cruds.css" rel="stylesheet" />
<div class="container-crud">
    <h1>Create</h1>

    <h4>CitasReservas</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <span class="text-danger">*</span>
                    <label asp-for="CitasReservas.PacienteID" class="control-label"></label>
                    <select asp-for="CitasReservas.PacienteID" class="form-control" asp-items="ViewBag.PacienteID"></select>
                    <span asp-validation-for="CitasReservas.PacienteID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <span class="text-danger">*</span>
                    <label asp-for="CitasReservas.FechaReserva" class="control-label"></label>
                    <input asp-for="CitasReservas.FechaReserva" class="form-control" />
                    <span asp-validation-for="CitasReservas.FechaReserva" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <span class="text-danger">*</span>
                    <label asp-for="CitasReservas.Estado" class="control-label"></label>
                    <input asp-for="CitasReservas.Estado" class="form-control" />
                    <span asp-validation-for="CitasReservas.Estado" class="text-danger"></span>
                </div>
                <!-- Nuevo campo NombreLaboratorio -->
                <div class="form-group">
                    <span class="text-danger">*</span>
                    <label asp-for="CitasReservas.NombreLaboratorio" class="control-label"></label>
                    <input asp-for="CitasReservas.NombreLaboratorio" class="form-control" />
                    <span asp-validation-for="CitasReservas.NombreLaboratorio" class="text-danger"></span>
                </div>
                <!-- Nuevo campo Resultado -->
                <div class="form-group">
                    <span class="text-danger">*</span>
                    <label asp-for="CitasReservas.Resultado" class="control-label"></label>
                    <input asp-for="CitasReservas.Resultado" class="form-control" />
                    <span asp-validation-for="CitasReservas.Resultado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
