@page
@model Hospital_del_Valle.Pages.LYF.Farmacia.Auxi.Ordenes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Prescripcion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Prescripcion.PacienteID" class="control-label"></label>
                <select asp-for="Prescripcion.PacienteID" class ="form-control" asp-items="ViewBag.PacienteID"></select>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Prescripcion.MedicoID" class="control-label"></label>
                <select asp-for="Prescripcion.MedicoID" class ="form-control" asp-items="ViewBag.MedicoID"></select>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Prescripcion.MedicamentoID" class="control-label"></label>
                <select asp-for="Prescripcion.MedicamentoID" class ="form-control" asp-items="ViewBag.MedicamentoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Prescripcion.Dosis" class="control-label"></label>
                <input asp-for="Prescripcion.Dosis" class="form-control" />
                <span asp-validation-for="Prescripcion.Dosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescripcion.Duracion" class="control-label"></label>
                <input asp-for="Prescripcion.Duracion" class="form-control" />
                <span asp-validation-for="Prescripcion.Duracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescripcion.Indicaciones" class="control-label"></label>
                <input asp-for="Prescripcion.Indicaciones" class="form-control" />
                <span asp-validation-for="Prescripcion.Indicaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
