@page
@model Hospital_del_Valle.Pages.Citas.CitasDoc.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Cita.PacienteID" class="control-label"></label>
                <select asp-for="Cita.PacienteID" class ="form-control" asp-items="ViewBag.PacienteID"></select>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Cita.MedicoID" class="control-label"></label>
                <select asp-for="Cita.MedicoID" class ="form-control" asp-items="ViewBag.MedicoID"></select>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Cita.FechaCita" class="control-label"></label>
                <input asp-for="Cita.FechaCita" class="form-control" />
                <span asp-validation-for="Cita.FechaCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Cita.Estado" class="control-label"></label>
                <input asp-for="Cita.Estado" class="form-control" />
                <span asp-validation-for="Cita.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cita.Observaciones" class="control-label"></label>
                <input asp-for="Cita.Observaciones" class="form-control" />
                <span asp-validation-for="Cita.Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
